.container{
  width: 100%;
    height: 100vh;
    display: flex;
}
.flex{
  flex: 1;
}
.left{
  background-color: #42ebeb8c;
   
}
.right{
  background-color: #edf4fa;
}
textarea{
  border: none;
  resize: none;
  width: 100%;
  height: 99vh;
  outline: none;
  background-color: #f2ebeb42;
}



